# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


# img
*.jpg
*.tif
*.png
!project.jpg


# audio
*.mp3


# videos
*.mp4


# All pdf files
*.pdf


# packages


# All log files
*.log


# private files
